.page.theme_light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color-for-titel: #ffc2e6;
  --text-color: #353430;
  --text-no-decoration: #353430;
  --text-transparency: #32312d66;
  --bg-image: url(../images/cover-image-light.png);
  --visible-rec: hidden;
  --text-subtitle: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color-for-titel: #ffc2e6;
    --text-color: #353430;
    --text-no-decoration: #353430;
    --text-transparency: #32312d66;
    --bg-image: url(../images/cover-image-light.png);
    --visible-rec: hidden;
    --text-subtitle: #353430;
  }
}
