:root {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color-for-titel: #DB00FF;
  --text-color: #F1B2CE;
  --text-no-decoration: #FF0070;
  --text-transparency: #FF007066;
  --text-subtitle: #000028;
  --main-font: 'IBM Plex Mono';
  --margin: 0 20px;
  --margin-content-box: 80px;
  --margin-titel: 60px;
  --visible-rec: visible;
  
}

